In [8]:
import os
import pymysql
import pandas as pd

conn = pymysql.connect(host='localhost',
                             user='root',
                             port=int(3306),
                             password='123456',
                             db='test_1',
                             cursorclass=pymysql.cursors.DictCursor)

In [9]:
# read data table in panda
dat = pd.read_csv('data/dat_from_r.csv')

In [10]:
dat.to_sql('data_set', conn, if_exists='replace', index = False)  #????

             Var2               Freq
0       household  Min.   :     48
1       household  1st Qu.: 389236
2       household  Median : 764131
3       household  Mean   : 759565
4       household  3rd Qu.:1137444
..            ...                ...
79   decade_built     1st Qu.:1950
80   decade_built     Median :1970
81   decade_built     Mean   :1971
82   decade_built     3rd Qu.:1990
83   decade_built     Max.   :2010

[84 rows x 2 columns]

pandas.core.frame.DataFrame