# Example of integration of mysql to jupyter
## This is a mysql kernel found here -> https://github.com/Hourout/mysql_kernel

The mysql database is running from a local mysql container. Next steps are to create a remote volume and build some databases for testing...

-- must connect with username and password... this could be set in some hased file with the password... TBD<br>
-- Note: There can not be any remarks in the connection cell below (cell [3])

In [1]:
mysql://root:123456@127.0.0.1:3306;

In [2]:
-- Commands Cheat sheet
-- https://phoenixnap.com/kb/mysql-commands-cheat-sheet
select date_add(now(), interval 1 day) dd;

,dd
0,2021-12-03 20:44:03

In [3]:
select date_add(now(), interval 1 day) dd;

,dd
0,2021-12-03 20:44:04

In [4]:
Show databases;

,Database
0,information_schema
1,movies
2,mysql
3,performance_schema
4,sys
5,test

In [5]:
SELECT user FROM mysql.user;

,user
0,root
1,mysql.infoschema
2,mysql.session
3,mysql.sys
4,root